#confirmation-card {
  height: 600px;
  width: 400px;
  background-color: #e4c08a;
  margin-top: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decoration-none {
  text-decoration: none;
}