<div class="d-flex justify-content-center">
  <div id="confirmation-card">
    <div><h3 class="mt-4 p-4 text-white">¡Revisa tu pedido por favor!</h3></div>
    <div class="border-bottom">
      <% counter = 0 %>
      <% price = 0 %>
      <% @amounts_id_array.each do |id| %>
        <% a_instance = Amount.find_by_id(id) %>
        <% counter += a_instance.amount if a_instance != nil %>
        <% if a_instance != nil %>
            <p class="font-style pb-1"><%= "#{a_instance.amount} de #{a_instance.product.name}." %></p>
        <% end %>
      <% end %>
    </div>
    <p><%= "Total: $#{counter * Amount.unit_price_for(counter)}" %></p>
  </div>
</div>