<div class="container">
  <% if user_signed_in? && current_user.admin == true %>
    <div class="d-flex justify-content-center">
      <div class="head-card head-sm-card head-md-card">
        ¡Que bueno verte de nuevo <%= current_user.first_name %>!
      </div>
    </div>
  <% else %>
    <div class="d-flex justify-content-center">
      <div class="head-card head-sm-card head-md-card">
        <div class="border-bottom">Pack x4 $100</div>
        <div class="slide mx-3">|</div>
        <div class="border-bottom">Pack x8 $250</div>
        <div class="slide mx-3">|</div>
        <div class="border-bottom">Pack x12 $400</div>
      </div>
    </div>
  <% end %>
  <div>
  </div>
</div>
