.standar-card {
    background-color: #E4C08A;
    width: 40%;
    height: 70vh;
    border-radius: 20px;
}

.registration-card {
    background-color: #E4C08A;
    width: 45%;
    border-radius: 20px;
    margin-top: 14px;
}

.registration-img {
    width: 191px;
    height: 188px;
    border-radius: 50%;
}

.registration-rigth-buttons {
    margin-top: 100px;
    margin-left: 50px;
}

.session-img {
    width: 70%;
    height: 50%;
    border-radius: 20px;
}

.session-card {
    background-color: #E4C08A;
    width: 40%;
    border-radius: 20px;
}