<% if current_user.admin == true %>
<div class="container standar-card mt-3 d-flex justify-content-center align-items-center">
  <div>
    <h1 class="text-white text-center font-weight-bold">Producto Nuevo</h1>
    <%= simple_form_for @product  do |f| %>
      <%= f.input :name, label: false, placeholder: "Nombre del producto" %>
      <div>
        <%= f.input :photo , as: :file, :label => false %>
        <%= f.submit "Crear", :class => "button-2" %>
      </div>
    <% end %>
  </div>
</div> 
<% else %>
  <h1>No tenes autorización para ver esta página.</h1>
<% end %>