#cart-container {
 background-color: #e4c08a;
 width: 55%;
 height: 55%;
 min-height: 400px;
 margin-top: 32px;
 margin-bottom: 32px;
 border-radius: 10px;
}

.font-style {
  font-weight: bold;
  color: white;
}

.delete-button {
  padding: 0.5px 2.5px;
  background-color: rgba(255, 0, 0, 0.575);
  border-radius: 5px;
  color: black;
}

.delete-button:hover {
  padding: 0.5px 2.5px;
  background-color: rgba(255, 255, 255, 0.575);
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.add-button {
  background-color: #ffffff81;
  padding: 2.5px 20px;
  border-radius: 100px;
  border: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 80%;
}

.add-button:hover {
  background-color: #ffffff81;
  padding: 2.5px 20px;
  border-radius: 100px;
  border: hidden;
  color: rgba(0, 0, 0, 0.171);
  font-size: 80%;
}

.send-button {
   background-color: #e4c08a;
  padding: 20px 60px;
  border-radius: 100px;
  border: hidden;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 125%;
}

.send-button:hover {
   background-color: #e4c08a88;
  padding: 20px 60px;
  border-radius: 100px;
  text-decoration: none;
  border: hidden;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 125%;
}

#product-card {
    background-color: #e4c08a;
    width: 200px;
    height: 300px;
    border-radius: 0 0 10px 10px;
    padding: 0px;
    font-weight: bold;
  }

#product-photo {
  height:50%;
  width: 100%;
  border-radius: 0 0 10px 10px;
} 

#date-field {
  width: 60%;
  height: 0%;
  border-radius: 100px;
  font-size: 150%;
  background-color: white;
}

.plus-and-less-button {
  user-select: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.plus-and-less-button:hover {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-place {
  background-color: #e4c08a7e;
  width: 60px;
  height: 20px;
  border-radius: 50px;
  text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Small devices
@media(max-width:576px) {
  .head-sm-card {
    color: white;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    background-color: #e4c08a;
    flex-direction: column;
    display: flex;
    align-items: center;
    
  }

  .slide {
    display: none;
  }

  .justify-content-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}


// Medium devices
@media (min-width:577px) and (max-width:768px) {
  .head-md-card {
  margin-top: 30px;
  padding: 15px;
  border-radius: 10px;
  font-size: 130%;
  background-color: #e4c08a;
  margin: 20px;
  color: white;
  display: flex;
  justify-content: center;
  width: 70vw;
  }
  
  .justify-content-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

}

// Large devices
@media (min-width:769px) {
    .head-card {
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    font-size: 130%;
    background-color: #e4c08a;
    margin: 20px;
    color: white;
    display: flex;
    justify-content: center;
    width: 50vw;
  }

}